.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  background-color: ivory;
}

.search-container {
  display: flex;
  gap: 5px;
}

.gif-button {
  border-radius: 8px;
  border: 1px solid black;
}

.message-text {
  border: 1px solid black;
}

.message-text::placeholder {
  text-align: center;
}

.send-button {
  width: 30%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: darkseagreen;
}

.expanded {
  height: 30%;
}