.forgot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid black;
    border-radius: 8px;
    height: 400px;
    width: 450px;
    padding-left: 30px;
    margin-left: 450px;
    margin-top: 100px;
    background-color: #a99e9e;
    box-shadow: azure 0px 0px 20px;
    font-family: roboto, sans-serif;
    gap: 10px;
}