

body {
    background-color: black;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid black;
    border-radius: 8px;
    height: 250px;
    width: 400px;
    margin-left: 320px;
    margin-top: 100px;
    background-color: darkgray;
    box-shadow: azure 0px 0px 20px;
    font-family: roboto, sans-serif;
    gap: 10px;
}

input {
    border-radius: 8px;
    background-color: wheat;
}

button {
    border-radius: 8px;
    background-color: yellowgreen;
}

button:hover {
    cursor: pointer;
    background-color: #4caf50;
}

@media (max-width: 1024px) and (min-width: 600px) {
    .login-form {
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
    }

    input {
        padding: 12px;
    }

    button {
        padding: 12px;
        font-size: 18px;
    }
}

@media (max-width: 599px) {
    .login-form {
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
        height: auto;
    }

    input {
        padding: 12px;
        font-size: 14px;
    }

    button {
        padding: 12px;
        font-size: 14px;
    }
}