body {
  background-color: #3a3a3a;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 13px;
}

h1,
h2,
h3 {
  font-family: monospace;
}

main {
  margin: 0 auto;
  background-color: beige;
  color: black;
  border-radius: 10px;
  height: 100vh;
  max-width: 1024px;
}

.success-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 255, 0, 0.8);  /* Fondo verde para éxito */
  color: black;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
}

.success-modal button {
  background-color: white;
  color: green;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.success-modal button:hover {
  background-color: #f0f0f0;
}


.error-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: black;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
}

.error-modal button {
  background-color: white;
  color: red;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.error-modal button:hover {
  background-color: #f0f0f0;
}
